<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu site</title>
  <link href="/style/global.css" rel="stylesheet">
</head>

<body>
  <header class="header">
    <a href="/"> <img class="imagem-tamanho-logo" src="/image/unifillogo.png"> </a>
    <nav>
        <ul class="menu">
            <li><a href="/projeto">Projeto</a></li>
            <li><a href="/desenvolvedores">Desenvolvedores</a></li>
            <li><a href="/portifolio">Portifório</a></li>
        </ul>
    </nav>
</header>

   <!-- Html que eu criei com com verde -->
  <h1 class="estilo-exemplo"> Htl estatico : Portifolio </h1>


</body>


</html>